@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: rgb(161, 101, 239);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    font-size: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: justify;
}

.calculadora {
    width: 400px;
}

.display {
    font-size: 1em;
    width: 100%;
    text-align: right;
    border-radius: 5px;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background: #dfdfdf;
    cursor: pointer;
}
.btn:hover {
    background-color: #9e9e9e;
}